<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>手机验证</title>
<link rel="stylesheet" href="public/base/css/howdo-framework.css">
<link rel="stylesheet" href="public/base/css/common.css">
<link rel="stylesheet" href="public/css/user.css">
</head>

<body>
<header>头部</header>
<hr>
<div class="wrapper">
  <div class="row">
    <div class="col-lg-2">
      <div class="bordered">
        <ul class="nav nav-stacked ">
          <li> <a href=""> 个人资料 <i class="glyphicon glyphicon-chevron-right"></i></a></li>
          <li><a href=""> 上传头像 <i class="glyphicon glyphicon-chevron-right"></i></a></li>
          <li><a href=""> 修改密码 <i class="glyphicon glyphicon-chevron-right"></i></a></li>
          <li class="active"> <a href=""> 手机验证 <i class="glyphicon glyphicon-chevron-right"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-10">
      <div class="main bordered">
        <h3 class="padding-left">手机验证</h3>
        <hr>
        <!--内容区开始-->
        <div class="mob-top-tit">
          <div class="col-lg-4">验证身份<span></span><em></em></div>
          <div class="col-lg-4">设置新手机号<span></span><em></em></div>
          <div class="col-lg-4 on">设置成功</div>
        </div>
        <div class="clearfix"></div>
        <div class="mob-msg text-center">
          <h4>设置成功，您的新登录用户名为138****4137</h4>
        </div>
        <hr>
        <div class="form-group " align="center"><button type="button" class="btn btn-info pull-center">&nbsp;&nbsp;&nbsp;&nbsp;返回&nbsp;&nbsp;&nbsp;&nbsp;</button></div>
        <!--内容区结束--> 
      </div>
    </div>
  </div>
</div>
<hr>
<footer>尾部</footer>
</body>

<script src="public/js/jquery-2.1.4.min.js"></script> 
<script src="public/base/js/howdo-framework.min.js"></script> 

</body>
</html>
